:root{
  --bg: ;
  --white: #fff;
  --white-dark: #dbe7f3;
  --text-color: #333;
  --dark: #0F172B;
  --light-blue: #0d6efd;
  --dark-blue: #0a58ca;
  --red: #ef233c;
  --green: #00E77F;

  /* border */
  --border-image: 1px solid #;

  /* box-shadow */
  --box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);

  /* transition */
  --text-transition: all 0.3s ease;
}

a{
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .frozen{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.frozen-2{
  display: flex;
  flex-direction: column-reverse;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.frozen .image, .frozen-2 .image{
    width: 500px;
  }
}

@media (max-width: 568px){
  .freeze{
    overflow-x: hidden;
  }
}

.frozen, .frozen-2{
  display: flex;
  justify-content: space-around;
}
.frozen div, .frozen-2 div{
  max-width: 500px;
  /* flex: 1 1 auto; */
}
.frozen-2{
  margin-top: 5rem;
}

@media (min-width: 1200px){

  .stick-here{
    max-height: 47rem;
    margin-top: 5rem;
  }
  .stick-here a{
    position: absolute;
    bottom: 5%;
    width: 85%;
    text-align: center;
  }

}

/** =================== Frozen Single Meals ================= */
.container .row .package{
  max-height: 47rem;
  /* margin: 1rem; */
  padding: 2rem;
  margin-bottom: 5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: var(--dark);
  color: var(--white);
}
.container .row .package ul{
  margin-top: 2rem;
}
.container .row .package ul li a{
  font-size: 1.2rem;
}
.container .row .package ul li a:hover{
  color: var(--red);
}

/** ================== Gallery Section Starts =============== */

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center;
}
.box{
  position: relative;
  margin-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #feeee7;
  padding: 20px;
  border-radius: 0.5rem;
}
.box-img{
  width: 220px;
  height: 220px;
}
.box-img img{
  width: 100%;
  height: 100%;
}
.box h2{
  font-size: 1.3rem;
  color: var(--bg-color);
}
.box h3{
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 4px 0 10px;
}
.box span{
  font-size: var(--p-font);
  color: var(--main-color);
  font-weight: 600;
}
.box .fa-solid{
  background: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 0 0.5rem 0 0.5rem;
}



/** ================= EVENT SECTION ============== */
.event-container .first-row, .second-row{
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.event-container .row{
  max-width: 50%;
}

.event-container .row .box{
  /* border: 2px solid; */
  max-width: 100%;
  max-height: 100vh;
  background: none;
  text-align: center;
}
.event-container .row .box img{
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}
/* .event-container .row .box img:hover{
  transform: scale(0.5);
  aspect-ratio: 0;
} */


@media (max-width: 768px){
  .event-container .first-row, .second-row{
    flex-direction: column;
    gap: 7rem;
  }
  .second-row{
    position: relative;
    top: 3rem;
  }
  .event-container .row{
    max-width: 100%;
  }

}
@media (max-width: 700px){
  .event-container .first-row, .second-row{
    flex-direction: column;
    gap: 4.7rem;
  }
  .event-container .row{
    max-width: 100%;
  }

}
@media (max-width: 668px){
  .event-container .first-row, .second-row{
    flex-direction: column;
    gap: 2.5rem;
  }
  .second-row{
    top: 0.2rem;
  }
  .event-container .row{
    max-width: 100%;
  }

}

@media (max-width: 568px){
  .event-container .first-, .second-row{
    flex-direction: column;
    gap: 1.2rem;
  }
  .event-container .row{
    max-width: 100%;
  }

}






